PORT=3001
NODE_ENV=development
JWT_SECRET=labmu_super_secret_jwt_key_2026_musarq
JWT_EXPIRES_IN=7d
DATABASE_FILE=./data/labmu.sqlite
DEFAULT_ADMIN_EMAIL=admin.musarq@unicap.br
DEFAULT_ADMIN_PASSWORD=Admin@123
DEFAULT_TECH_EMAIL=tecnico.musarq@unicap.br
DEFAULT_TECH_PASSWORD=Tecnico@123

